node_modules
.DS_Store
dist
.npmrc
.cache

.local
# local env files
.env.local
.env.*.local
.eslintcache

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock

# Editor directories and files
.idea

# .vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.rar
*.lock
/workspace.code-workspace
lanvenUi
#dev
# *.env.development
yarn.lock
Zjsyb-vueNew.iml
cache
config.mts.timestamp-*.mjs